<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>PreferenceSpecifiers</key>
    <array>
      <dict>
        <key>Type</key>
        <string>PSTitleValueSpecifier</string>
        <key>Title</key>
        <string>Bundle Identifier</string>
        <key>DefaultValue</key>
        <string>com.evanbacon.pillarvalley</string>
        <key>Key</key>
        <string>info_1_pref</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSTitleValueSpecifier</string>
        <key>Title</key>
        <string>Expo SDK</string>
        <key>DefaultValue</key>
        <string>50.0.0</string>
        <key>Key</key>
        <string>info_2_pref</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSTitleValueSpecifier</string>
        <key>Title</key>
        <string>Scheme</string>
        <key>DefaultValue</key>
        <string>plrvly</string>
        <key>Key</key>
        <string>info_3_pref</string>
      </dict>
    </array>
  </dict>
</plist>