<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>PreferenceSpecifiers</key>
    <array>
      <dict>
        <key>Type</key>
        <string>PSGroupSpecifier</string>
        <key>Title</key>
        <string>Runtime</string>
        <key>FooterText</key>
        <string>Based on the last successful launch of the app</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSTitleValueSpecifier</string>
        <key>Title</key>
        <string>ID</string>
        <key>DefaultValue</key>
        <string>[Pending]</string>
        <key>Key</key>
        <string>p_exupdates_updateId</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSTitleValueSpecifier</string>
        <key>Title</key>
        <string>Release Channel</string>
        <key>DefaultValue</key>
        <string>[Pending]</string>
        <key>Key</key>
        <string>p_exupdates_releaseChannel</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSTitleValueSpecifier</string>
        <key>Title</key>
        <string>Channel</string>
        <key>DefaultValue</key>
        <string>[Pending]</string>
        <key>Key</key>
        <string>p_exupdates_channel</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSTitleValueSpecifier</string>
        <key>Title</key>
        <string>Runtime Version</string>
        <key>DefaultValue</key>
        <string>[Pending]</string>
        <key>Key</key>
        <string>p_exupdates_runtimeVersion</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSTitleValueSpecifier</string>
        <key>Title</key>
        <string>Check Automatically</string>
        <key>DefaultValue</key>
        <string>[Pending]</string>
        <key>Key</key>
        <string>p_exupdates_checkAutomatically</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSTitleValueSpecifier</string>
        <key>Title</key>
        <string>Emergency Launch</string>
        <key>DefaultValue</key>
        <string>[Pending]</string>
        <key>Key</key>
        <string>p_exupdates_isEmergencyLaunch</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSTitleValueSpecifier</string>
        <key>Title</key>
        <string>Embedded Launch</string>
        <key>DefaultValue</key>
        <string>[Pending]</string>
        <key>Key</key>
        <string>p_exupdates_isEmbeddedLaunch</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSTitleValueSpecifier</string>
        <key>Title</key>
        <string>Using Embedded Assets</string>
        <key>DefaultValue</key>
        <string>[Pending]</string>
        <key>Key</key>
        <string>p_exupdates_isUsingEmbeddedAssets</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSTitleValueSpecifier</string>
        <key>Title</key>
        <string>Created</string>
        <key>DefaultValue</key>
        <string>[Pending]</string>
        <key>Key</key>
        <string>p_exupdates_createdAt</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSTitleValueSpecifier</string>
        <key>Title</key>
        <string>Updated</string>
        <key>DefaultValue</key>
        <string>[Pending]</string>
        <key>Key</key>
        <string>p_exupdates__updatedAt</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSGroupSpecifier</string>
        <key>Title</key>
        <string>Latest</string>
        <key>FooterText</key>
        <string>Based on the running instance of the app</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSTitleValueSpecifier</string>
        <key>Title</key>
        <string>Status</string>
        <key>DefaultValue</key>
        <string>[Pending]</string>
        <key>Key</key>
        <string>p_exupdates_live_type</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSTitleValueSpecifier</string>
        <key>Title</key>
        <string>Details</string>
        <key>DefaultValue</key>
        <string>[Pending]</string>
        <key>Key</key>
        <string>p_exupdates_live_message</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSTitleValueSpecifier</string>
        <key>Title</key>
        <string>Updated</string>
        <key>DefaultValue</key>
        <string>[Pending]</string>
        <key>Key</key>
        <string>p_exupdates_live__updatedAt</string>
      </dict>
    </array>
  </dict>
</plist>