<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997358977148-kifrap7p4d11cc2jkbf1lt12dcnjdjdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997358977148-kifrap7p4d11cc2jkbf1lt12dcnjdjdh</string>
	<key>API_KEY</key>
	<string>AIzaSyDyq9f7W52GCYiBUzgCJCI45IlXaJYAoOU</string>
	<key>GCM_SENDER_ID</key>
	<string>997358977148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evanbacon.pillarvalley</string>
	<key>PROJECT_ID</key>
	<string>game-f26ee</string>
	<key>STORAGE_BUCKET</key>
	<string>game-f26ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997358977148:ios:a482343e203f01a56909f9</string>
	<key>DATABASE_URL</key>
	<string>https://game-f26ee.firebaseio.com</string>
</dict>
</plist>