<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Pillar Valley</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>autumn</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>autumn-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>solstice</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>solstice-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>special</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>special-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>spring</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>spring-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>winter</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>winter-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>autumn</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>autumn-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>solstice</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>solstice-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>special</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>special-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>spring</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>spring-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>winter</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>winter-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>8.0.6</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>plrvly</string>
          <string>com.evanbacon.pillarvalley</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.997358977148-kifrap7p4d11cc2jkbf1lt12dcnjdjdh</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-2312569320461549~5287895909</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your microphone</string>
    <key>NSMotionUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your device motion</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
    </array>
    <key>RCTRootViewBackgroundColor</key>
    <integer>4293956696</integer>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>